<app-navbar></app-navbar>
<h1>Cuentas</h1>
<br>
<section id="Transferencia">
    <h6>Realizar Transferencia</h6>
    <input class="form-control form-control-sm" type="text" placeholder="Cuenta destino" aria-label=".form-control-sm example">
    <br>
    <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Monto">
        <span class="input-group-text">.00</span>
      </div>
      <button>Realizar</button>
      
</section>
<br>
<br>
<section id = "Manejo">
    <h6>Manejo de Cuentas</h6>

</section>

<hr>

<h1>Table using JSON Server API</h1>
<hr>

<table id="transferencias">

  <tr>
    <th *ngFor="let col of columns">
      {{col}}
    </th>
  </tr>
  <tr *ngFor="let transferencia of transferencias">
    <td *ngFor="let col of index">
      {{transferencia[col]}}
    </td>
  </tr>

</table>