#Transferencia{
    background-color: darkgrey;
    display: inline-block;
    padding: 15px 15px;
    margin-left: 1%;
    border-radius: 10px;
}
#Manejo{
    background-color: darkgrey;
    display: inline-block;
    padding: 15px 15px;
    margin-left: 1%;
    border-radius: 10px;
}