<!--
    Vista inicial de la aplicacion en esta se selecciona si se quiere proceder como admin o cliente 
    utilizando routerLink se cambia a la vista del tipo de usuario seleccionado
-->
<section id = "box">
    <div class="container">
        <h6>Seleccione su tipo de usuario</h6>
        <br>
        <div class="row row-cols-2">
            <section class="col">
                <img src = "./IMG/cliente.jpg" alt = "Icono cliente">
                <br>
                <button class = "btn-vistas" routerLink = "/Login"> Cliente </button>
            </section>
            <section class="col">
                <img src="./IMG/admin.png">
                <br>
                <button class = "btn-vistas" routerLink = "/Admin"> Admin </button>
            </section>
        </div>
    </div>
</section>

