<!-- Seccion de la vista de administrador para la gestio de tarjetas-->
<!-- Utiliza la class container en algunas etiquetas para aprovechar la funcion de grid de bootstrap junto con col y row-->
<app-admin></app-admin>
<h1>Gestion de Tarjetas</h1>
<div class="container">
    <div class="row">
        <section id = "tarjetas" class="col-3">
            <h4>Agregar Tarjeta</h4>
            <br>
            <div class="mb-4">
                <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Número de Tarjeta">
            </div>
            <div class="mb-4">
                <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Fecha de Expiración">
            </div>
            <div class="mb-4">
                <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Código de Seguridad">
            </div>
            <div class="mb-4">
                <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Saldo/Crédito Disponible">
            </div>
            <div class="dropdown">
                <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Tipo Tarjeta
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><p class="dropdown-item" >Débito</p></li>
                  <li><p class="dropdown-item" href="#">Crédito</p></li>
                </ul>
            </div>
              <br>
            <button id="btn-agregar"> Agregar </button>
            <br>
        </section>
        <section id ="gtarjetas" class="col">
            <h4>Gestion de Tarjetas</h4>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-1 editar">
                        <input type="email" class="form-control" id="exampleInputPassword1" placeholder="#">
                    </div>
                    <div class="col editar">
                        <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Saldo/Crédito Disponible">
                    </div>
                    <div class="dropdown col">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          Tipo Tarjeta
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><p class="dropdown-item" >Débito</p></li>
                          <li><p class="dropdown-item" href="#">Crédito</p></li>
                        </ul>
                    </div>
                    <div class="col editar">
                        <button id="btn-editar" class="col"> Editar </button>
                    </div>
                </div>
            </div>
            <br>
        </section>
    </div>
</div>