<section id = "registro">
    <h4>Crear Cuenta</h4>
    <br>
    <div class="mb-3">
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre Completo">
    </div>
    <div class="mb-3">
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Cédula">
    </div>
    <div class="mb-3">
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Dirección">
    </div>
    <div class="mb-3">
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Teléfono">
    </div>
    <div class="mb-3">
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Usuario">
    </div>
    <div class="mb-3">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
    </div>
    <br>
    <button id = "btn-registro" routerLink="/Login">Registrarse</button>
    <br>
</section>


